.app-container {
	display: flex;
	flex-direction: column;
}

.input-container {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	background-color: var(--accent-bg);
	justify-content: center;
	width: fit-content;
	padding: 1rem;
	gap: 0.35rem;
}

input[type="date"] {
	color: var(--accent);
	background: var(--code-bg);
	border: 1px solid var(--border);
	padding: 0.25rem;
}

.items-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.item {
	aspect-ratio: 1 / 1;
	overflow: hidden;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item {
	aspect-ratio: 1 / 1;
	overflow: hidden;
	position: relative;
}

.item-date {
	position: absolute;
	bottom: 8px;
	left: 8px;
}
